.idea/

.DS_Store
semantic.cache
bin/

*.tmp
*.tmp.obo
*.tmp.owl
*.tmp.json

src/ontology/mirror
src/ontology/mirror/*
src/ontology/reports/*
src/ontology/artificial-intelligence-ontology.owl
src/ontology/artificial-intelligence-ontology.obo
src/ontology/artificial-intelligence-ontology.json
src/ontology/artificial-intelligence-ontology-base.*
src/ontology/artificial-intelligence-ontology-basic.*
src/ontology/artificial-intelligence-ontology-full.*
src/ontology/artificial-intelligence-ontology-simple.*
src/ontology/artificial-intelligence-ontology-simple-non-classified.*

src/ontology/seed.txt
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/ontologyterms.txt
src/ontology/simple_seed.txt
src/ontology/patterns
src/ontology/merged-artificial-intelligence-ontology-edit.owl

src/ontology/target/
src/ontology/tmp/*
!src/ontology/tmp/README.md

src/ontology/imports/*_terms_combined.txt

src/patterns/data/**/*.ofn
src/patterns/data/**/*.txt
src/patterns/pattern_owl_seed.txt
src/patterns/all_pattern_terms.txt